
@{
    ViewData["Title"] = "Typescript";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{ 
    <script src="/scripts/app.js"></script>
}

<h2>Typescript</h2>

<h4 id="message"></h4>
<div>
    Compiler: <input id="compiler" value="TypeScript" onkeyup="document.getElementById('message').innerText = sayHello()" /><br />
    Framework: <input id="framework" value="ASP.NET" onkeyup="document.getElementById('message').innerText = sayHello()" />
</div>

